/* styles.css */

/* importing fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Nanum+Gothic+Coding&display=swap');

/*main header format*/
body {
	font-family: 'Fira Code', 'Nanum Gothic Coding', monospace;
	display: flex;
	flex-flow: row;
    background-color: #ece9c6; /*background */
}

body > header {
	text-align: center;
}

body > header h1 {
	width: 1.5em;
	font-size: 10em;
	margin: 0 auto;
}

/*home page*/
#home {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ece9c6; /*background */
}

#home h1 {
    font-size: 10em;
    margin: 0;
    margin-bottom: 0.05em;
}

#home h2 {
    font-size: 4em;
    margin: 0;
    margin-bottom: 0.2em;
}

#home nav a {
    text-decoration: underline;
    color: black;
    margin: 0 15px;
}

#home nav a:hover {
    text-decoration: underline; /* Adds underline on hover */
    opacity: 0.8; /* Optional: Adds a slight effect on hover */
}

/*main page format*/
#main {
	flex: auto;
	min-height: 100vh;
	max-width: 1000px;
	overflow: hidden;

	display: flex;
	flex-flow: column;
}

#main > nav {
	text-align: center;
    padding: 15px;
}

#main nav a:hover, a:link, a:visited {
    color: black;
    text-decoration: underline; /* Adds underline on hover */
}

#main > main {
	flex: 1;
	margin-right: 25px;
    padding: 15px;
}

#main > main > h1 {
    font-size: 3em;
}


/* list format*/

#list article > header {
	display: flex;
	flex-flow: row;
	align-items: center;
    margin-bottom: 0.5em;
    font-size: 1em;
}

#list article h3 {
	display: inline-block;
	margin: 0.5em;
    font-size: 1.5em;
}

#list article header time {
	color: gray;
	white-space: nowrap;
    font-size: 1.5em;
    margin-left: 1em;
}

#list article p {
	color: rgb(26, 26, 26);
    font-size: 1.3em;
    margin-bottom: 0.5em;
    word-wrap: break-word;
    margin-right: 0;
}

/* span class = tab*/
.tab {
    display: inline-block;
    margin-left: 1em;
}